@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');


:root {
    /* ### Primary */

    --Lineargradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%); /*(active input border)*/
    --Red: hsl(0, 100%, 66%);  /*(input errors)*/

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Lightgrayishviolet: hsl(270, 3%, 87%);
    --Darkgrayishviolet: hsl(279, 6%, 55%);
    --Verydarkviolet: hsl(278, 68%, 11%);

    box-sizing: border-box;

    
}

body {
   margin: 0px;
   padding: 0px;
   font-size: 1rem;
   font-family: 'Space Grotesk', sans-serif;
}

.bg-main {
    background-image: url('images/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.form-sections {
    position: relative;
}
.bg-card-back-container {
    box-sizing: border-box;
    background-image: url('images/bg-card-back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 250px;
    height: 140px;
    padding: 60px 22px;
    align-self: flex-end;
    position: absolute;
    top: -80px;
    /* left: 20%; */
    border-radius: 8px;
}
.card-cvv-container{
    height: 100%;
    display: flex;
    align-items: center;
}
.card-cvv {
    text-align: center;
    color: white;
    font-size: 12px;
    opacity: .8;
    letter-spacing: .125rem;
}
p{
    margin: 0;
}

.card-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bg-card-front-container {
    border-radius: 8px;
    background-image: url('images/bg-card-front.png');
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
    /* left: 4%; */
    /* top: 54%; */
    background-size: cover;

    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    /* padding: 80px 120px; */
    box-shadow: 5px 40px 30px -25px var(--Lightgrayishviolet);
    padding: 14px;
    box-sizing: border-box;
    width: 250px;
    height: 140px;
    /* z-index: 1; */
}
.bg-card-front {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: relative;
    top: 25%;
}

.card-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    /* outline: 1px solid red; */
    background-image: url("/images/favicon-32x32.png");
    /* margin-bottom: 1.875rem; */
}

.card-number-container {
    display: flex;
    color: var(--White);
    font-size: 1rem;
    letter-spacing: .0938rem;
    opacity: .8;
    width: 206px;

}
.card-number-container p:nth-child(4n) {
    margin-right: 10px;
}

.cardholder-name {
    text-transform: uppercase;
}

.card-name-expiry-date-container {
    display: flex;
    justify-content: space-between;
    color: var(--White);
    font-size: .625rem;
    letter-spacing: .0938rem;
    opacity: .8;
    margin-top: -0.625rem;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-width: 100vw; */
}
.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 90vw;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-top: 100px;
    padding-bottom: 50px;
}

label {
    font-size: .875rem;
    color: var(--Verydarkviolet);
    font-weight: 600;
    letter-spacing: .0625rem;
}

form input {
    /* border: none; */
    border: 1px solid var(--Lightgrayishviolet);
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    margin-top: .375rem;   
    padding-top: .6875rem;
    padding-bottom: .625rem;
    padding-left: .9375rem;    
    transition: 200ms ease-in-out;   
}
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
       -webkit-appearance: none;
        margin: 0;
} */

/* input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
} */
input:focus {
    font-size: 1rem;
    border: 1px solid var(--Verydarkviolet);
    outline: none;
}

input:hover {
    border: 1px solid var(--Verydarkviolet);
    outline: none;
}
.remove-hover:hover, .remove-hover:focus {
    border: 1px solid red;
    outline: none;
}
.expiry-cvv-container {
    display: flex;
    align-items: end;
    padding-bottom: 1.25rem;
    position: relative;
    /* outline: 1px solid red; */
}

.mm-yy-container {
    width: 60%;
    position: relative;
    /* outline: 1px solid red; */
}

.mm-yy {
    display: flex;
}

.mm-yy input {
    /* width: 30%; */
    margin-right: 10%;
    padding-top: .6875rem;
    padding-bottom: .625rem;
}

.blank-error-message {
    position: absolute;
    top: 80%;
    color: red;
    display: none;
    font-size: 14px;
}
.cvv-container {
    max-width: 40%;
    position: relative;
}

.cvv-container input {
    
    width: 100%;
    padding-top: .6875rem;
    padding-bottom: .625rem;

}


.confirm-btn button{
    width: 100%;
    /* height: 60%; */
    border: none;
    color: var(--White);
    background-color: var(--Verydarkviolet);
    border-radius: 10px;
    font-size: 1.125rem;
    text-align: center;
    letter-spacing: 1.5px;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
}

::placeholder {
    color: var(--Lightgrayishviolet);
    font-size: 1rem;
    font-family: 'Space Grotesk', sans-serif;
}

@media only screen and (min-width: 900px){
    main {
        flex-direction: row;
        justify-content: flex-start;
    }
    .bg-main {
        width: 30vw;
        height: 100vh;
        align-items: center;
    }
    form {
        padding: 0;
    }
    .card-container {
        top: 0;
        left: 50%;
    }
    /* .bg-card-front{
        outline: 1px solid red;
        gap: 40px;
    } */
    .bg-card-front-container{
        top: -80px;
        right: 38px;
        box-shadow: none;
    }
    .bg-card-front-container::after{
        position: absolute;
        content: '';
        width: 99%;
        height: 100%; 
        top: 0;
        left:0;
        box-shadow: 5px 20px 50px 2px var(--Lightgrayishviolet);
        z-index: -1;
    }     
    .bg-card-back-container{
        top: 60%;
        left: auto;
        align-self: center;
        /* padding: 100px 200px; */
    }
    .bg-card-back-container::after{
        position: absolute;
        content: '';
        width: 99%;
        height: 100%; 
        top: 0;
        left:0;
        box-shadow: 5px 20px 40px 2px var(--Lightgrayishviolet);
        z-index: -1;
    }     
}
